/* main */

@font-face {
    font-family: 'Daniel';
    src: url('../fonts/danielbd-webfont.eot') format('embedded-opentype');
    src: url('../fonts/danielbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/danielbd-webfont.woff2') format('woff2'),
         url('../fonts/danielbd-webfont.woff') format('woff'),
         url('../fonts/danielbd-webfont.ttf') format('truetype'),
         url('../fonts/danielbd-webfont.svg#danielbd-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.otf') format('opentype');
}
h1,h2,h3{
    font-family:Daniel;
}
p{
    font-family:WorkSans-Regular;
    font-size:16px;
    letter-spacing:0.1rem;
}
@media screen and (min-width: 150px) {
    h3{
        font-size:18px;
    }
}
@media screen and (min-width: 480px) {
    h3{
        font-size:24px;
    }
}
/* header */
.header-banner{
    background-color:dodgerblue;
    color:white;
    padding:0px;
    min-height:300px;
}
.content-container{
    max-width:615px;
    padding-top:80px;
    padding-bottom:80px;
}
.content-container>div{
    display:inline-block;
}
.header-text{
    font-size:55px;
    margin:2px 1px 5px 5px;
}
@media (min-width: 420px) {
    .header-text {
        position: relative;
        top: -40px;
    }
}
@media (max-width:419px) {
    .header-text {
        position: relative;
        top: 0px;
    }
}

/* body */
.sub-header{
    font-weight:700;
}
.about{
    color:orange;
}
.contact{
    color:orangered;
}
.projects{
    color:dodgerblue;
}
.abstract-img{
    width:120px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
}
.social-icons>i{
    font-size:30px;
}
.social-icons{
    color:#7A7A7A;
}
.social-icons, .social-icons:hover{
    text-decoration:none;
    margin:5px 5px 5px 0px;
}
.social-icons:active, .social-icons:visited{
    text-decoration:none;
}

/* footer */
.footer-block-container{
    margin:0px;
    padding:0px;
}
.footer-block{
    display:inline-block;
    min-height:30px;
    margin:0px;
}
.red{
    background-color:orangered;
    width:25%;
}
.blue{
    background-color:dodgerblue;
    width:25%;
}
.yellow{
    background-color:yellow;
    width:25%;
}
.green{
    background-color:forestgreen;
    width:25%;
}
/* over write defaults */
.navbar-default{
    background-color:transparent;
    border-color:transparent;
}
.navbar-nav{
    /*float:none;*/
}
hr{
    border-color:#DADADA; 
}
.input-group-addon{
    background-color:#FCFCFC;
}

/* DASHBOARD */

/* dashboard index menu */
.offcanvas-button{
    padding: 5px 9px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px 6px 0px 0px;
}
.menu-icons{
    margin-right:5px;
}
.jumbotron{
    color: #FFF;
    background-color: #387BD2; 
}

/* login form */
.login-form{
    width:255px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 10px 20px 10px;
    border-radius:6px;
    background-color:white;
    margin-top:10px;
    margin-bottom:10px;
}
.login-form-title{
    padding:5px;
    color:white;
}
.login-form-title>h2{
    margin-top:10px;
    text-align:center;
}
.login-form-error{
    margin:10px 0px 10px 0px;
}
.login-form-success{
    margin:10px 0px 10px 0px;
}

/* create */
.create-form{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}
#shortUrlValidity>.icon-remove-circle{
    color:orangered;
    cursor:pointer;
}
#shortUrlValidity>.icon-ok-circle{
    color:forestgreen;
    cursor:pointer;
}

/* 404 */
.lost-image>img{
    width:150px;
    height:150px;
}
.lost-image {
    background-image: url('../images/404.png');
    background-repeat: repeat;
    background-position: right top;
    margin-left:auto;
    margin-right:auto;
}