/* header */
.header-banner{
    background-color:dodgerblue;
    color:white;
    padding:0px;
    min-height:300px;
}
.content-container{
    max-width:480px;
    padding-top:80px;
    padding-bottom:80px;
}
.content-container>div{
    display:inline-block;
}
@media (min-width: 420px) {
    .header-text {
        position: relative;
        top: -40px;
    }
}
@media (max-width:419px) {
    .header-text {
        position: relative;
        top: 0px;
    }
}

/* body */
.sub-header{
    font-weight:700;
}
.about{
    color:orange;
}
.contact{
    color:orangered;
}
.abstract-img{
    width:120px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:10px;
}
.social-icons>i{
    font-size:30px;
}
.social-icons{
    color:#7A7A7A;
}
.social-icons, .social-icons:hover{
    text-decoration:none;
    margin:5px 5px 5px 0px;
}
.social-icons:active, .social-icons:visited{
    text-decoration:none;
}

/* footer */
.footer-block-container{
    margin:0px;
    padding:0px;
}
.footer-block{
    display:inline-block;
    min-height:30px;
    margin:0px;
}
.red{
    background-color:orangered;
    width:25%;
}
.blue{
    background-color:dodgerblue;
    width:25%;
}
.yellow{
    background-color:yellow;
    width:25%;
}
.green{
    background-color:forestgreen;
    width:25%;
}
/* over write defaults */
.navbar-default{
    background-color:transparent;
    border-color:transparent;
}
.navbar-nav{
    /*float:none;*/
}


/* DASHBOARD */

/* dashboard index menu */
.menu-icons{
    margin-right:5px;
}
.jumbotron{
    color: #FFF;
    background-color: #387BD2; 
}

/* login form */
.login-form{
    width:280px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 10px 20px 10px;
    border-radius:4px;
    background-color:white;
    margin-top:10px;
    margin-bottom:10px;
}
.login-form-title{
    padding:5px;
}
.login-form-title>h2{
    margin-top:10px;
    text-align:center;
}
.login-form-error{
    margin:5px 0px 5px 0px;
    color:red;
}